* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Header */
.header {
  width: 100%;
  height: 100vh;
  margin-bottom: 35px;
  /* padding: 10px 0px; */
}

/* Banner */
.banner-container {
  width: 1070px;
  margin: 0 auto;

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.banner-content {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 20px;
}

.skip {
  color: tomato;
}

.banner-title {
  font-size: 48px;
}

.banner-description {
  font-size: 18px;
  color: gray;
}

.primary-btn {
  padding: 10px 15px;
  background-color: tomato;
  border: 2px solid tomato;
  border-radius: 10px;
  font-size: 18px;
  color: white;
  transition: all 0.3s ease;
  cursor: pointer;
}

.primary-btn:hover {
  background-color: transparent;
  color: black;
}

.banner-img img {
  width: 100%;
}

/* About Me */
.about {
  width: 100%;
  padding: 55px 0px 0px 0px;
  background-image: url("../images/shapes/7.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.about-container {
  width: 1070px;
  margin: 0 auto;

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.about-img {
  width: 45%;
  padding-top: 55px;
}

.about-img img {
  width: 65%;
}

.about-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 20px;

  width: 40%;
  margin-left: 150px;
}

.about-title {
  font-size: 56px;
  margin-bottom: 30px;
}

.about-description {
  font-size: 18px;
  color: gray;
  width: 100%;
  margin-bottom: 20px;
}

/* Recipies  */
.recipies {
  width: 100%;
  padding: 50px 0px;
}

.recipies-container {
  width: 1070px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.recipies-title {
  font-size: 46px;
  margin-bottom: 10px;
}

.recipies-description {
  width: 60%;
  margin: 0 auto;
  text-align: center;
  color: gray;
  margin-bottom: 30px;
}

.recipies-cards {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 25px;
}

.recipies-card {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 15px 20px;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
  border-radius: 20px;
  transition: all 0.3s;
}

.recipies-card img {
  width: 100%;
}

.recipies-title {
  font-size: 42px;
}

.recipies-card-description {
  margin-bottom: 10px;
  width: 85%;
  color: gray;
}

.recipies-card:hover {
  transform: translateY(-10px);
}

/* Users Info */
.user {
  width: 100%;
  padding: 80px;
}

.user-container {
  width: 1070px;
  margin: 0 auto;
  padding: 50px 80px;
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.5);
  border-radius: 15px;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.youtube h1,
.instagram h1,
.likes h1 {
  font-size: 36px;
  font-weight: 900;
  margin-top: 10px;
}

.youtube p,
.instagram p,
.likes p {
  font-size: 18px;
  color: rgb(71, 70, 70);
}

/* Footer */
.footer {
  width: 100%;
  background-color: black;
  padding: 80px;
  text-align: center;
}

.footer-title {
  color: gray;
  margin-bottom: 20px;
}

.eat {
  color: tomato;
}

.footer-description {
  color: lightgray;
}
